/* .map1{
    background-color: rgb(211, 122, 152);
}
.map3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 450;
    color: rgb(36, 28, 43);
} */
.text1{
    font-size:large;
    font-weight: 700;
}